Importing Required Libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
#creating a dataframe df which read and will contain the file
df  = pd.read_csv(r"C:\Users\HP\Desktop\ML projects\T_20 cricket Prediction\ball_by_ball_it20.csv")

In [3]:
df.head()

,Unnamed: 0,Match ID,Date,Venue,Bat First,Bat Second,Innings,Over,Ball,Batter,...,Winner,Chased Successfully,Total Batter Runs,Total Non Striker Runs,Batter Balls Faced,Non Striker Balls Faced,Player Out Runs,Player Out Balls Faced,Bowler Runs Conceded,Valid Ball
0,0,1339605,2023-03-26,SuperSport Park,West Indies,South Africa,1,1,1,BA King,...,South Africa,1,1,0,1,0,NaN,NaN,1,1
1,1,1339605,2023-03-26,SuperSport Park,West Indies,South Africa,1,1,2,KR Mayers,...,South Africa,1,1,1,1,1,NaN,NaN,1,1
2,2,1339605,2023-03-26,SuperSport Park,West Indies,South Africa,1,1,3,BA King,...,South Africa,1,0,1,0,1,1.0,2.0,0,1
3,3,1339605,2023-03-26,SuperSport Park,West Indies,South Africa,1,1,4,J Charles,...,South Africa,1,0,1,1,1,NaN,NaN,0,1
4,4,1339605,2023-03-26,SuperSport Park,West Indies,South Africa,1,1,5,J Charles,...,South Africa,1,4,1,2,1,NaN,NaN,4,1

In [4]:
#Checking for nnull Values
df.isnull().sum()

Unnamed: 0                      0
Match ID                        0
Date                            0
Venue                           0
Bat First                       0
Bat Second                      0
Innings                         0
Over                            0
Ball                            0
Batter                          0
Non Striker                     0
Bowler                          0
Batter Runs                     0
Extra Runs                      0
Runs From Ball                  0
Ball Rebowled                   0
Extra Type                      0
Wicket                          0
Method                     401460
Player Out                 401460
Innings Runs                    0
Innings Wickets                 0
Target Score                    0
Runs to Get                224815
Balls Remaining                 0
Winner                          0
Chased Successfully             0
Total Batter Runs               0
Total Non Striker Runs          0
Batter Balls Faced              0
Non Striker Balls Faced         0
Player Out Runs            401460
Player Out Balls Faced     401460
Bowler Runs Conceded            0
Valid Ball                      0
dtype: int64

In [5]:
#Printing all the column names so that we can select the important ones on which we will proceed our work
df.columns

Index(['Unnamed: 0', 'Match ID', 'Date', 'Venue', 'Bat First', 'Bat Second',
       'Innings', 'Over', 'Ball', 'Batter', 'Non Striker', 'Bowler',
       'Batter Runs', 'Extra Runs', 'Runs From Ball', 'Ball Rebowled',
       'Extra Type', 'Wicket', 'Method', 'Player Out', 'Innings Runs',
       'Innings Wickets', 'Target Score', 'Runs to Get', 'Balls Remaining',
       'Winner', 'Chased Successfully', 'Total Batter Runs',
       'Total Non Striker Runs', 'Batter Balls Faced',
       'Non Striker Balls Faced', 'Player Out Runs', 'Player Out Balls Faced',
       'Bowler Runs Conceded', 'Valid Ball'],
      dtype='object')

In [6]:
df.head(1)

,Unnamed: 0,Match ID,Date,Venue,Bat First,Bat Second,Innings,Over,Ball,Batter,...,Winner,Chased Successfully,Total Batter Runs,Total Non Striker Runs,Batter Balls Faced,Non Striker Balls Faced,Player Out Runs,Player Out Balls Faced,Bowler Runs Conceded,Valid Ball
0,0,1339605,2023-03-26,SuperSport Park,West Indies,South Africa,1,1,1,BA King,...,South Africa,1,1,0,1,0,NaN,NaN,1,1

In [7]:
#Seperating the dataset into three so that each column is easily visible
data = {
    f'col{i}': range(10) for i in range(1, 36)
}

# Splitting the DataFrame into three smaller DataFrames
df1 = df.iloc[:, :12]
df2 = df.iloc[:, 12:24]
df3 = df.iloc[:, 24:35]

In [8]:
df1.head(8)

,Unnamed: 0,Match ID,Date,Venue,Bat First,Bat Second,Innings,Over,Ball,Batter,Non Striker,Bowler
0,0,1339605,2023-03-26,SuperSport Park,West Indies,South Africa,1,1,1,BA King,KR Mayers,WD Parnell
1,1,1339605,2023-03-26,SuperSport Park,West Indies,South Africa,1,1,2,KR Mayers,BA King,WD Parnell
2,2,1339605,2023-03-26,SuperSport Park,West Indies,South Africa,1,1,3,BA King,KR Mayers,WD Parnell
3,3,1339605,2023-03-26,SuperSport Park,West Indies,South Africa,1,1,4,J Charles,KR Mayers,WD Parnell
4,4,1339605,2023-03-26,SuperSport Park,West Indies,South Africa,1,1,5,J Charles,KR Mayers,WD Parnell
5,5,1339605,2023-03-26,SuperSport Park,West Indies,South Africa,1,1,6,J Charles,KR Mayers,WD Parnell
6,6,1339605,2023-03-26,SuperSport Park,West Indies,South Africa,1,2,1,KR Mayers,J Charles,AK Markram
7,7,1339605,2023-03-26,SuperSport Park,West Indies,South Africa,1,2,2,KR Mayers,J Charles,AK Markram

In [9]:
df2.head()

,Batter Runs,Extra Runs,Runs From Ball,Ball Rebowled,Extra Type,Wicket,Method,Player Out,Innings Runs,Innings Wickets,Target Score,Runs to Get
0,1,0,1,0,[],0,NaN,NaN,1,0,259,NaN
1,1,0,1,0,[],0,NaN,NaN,2,0,259,NaN
2,0,0,0,0,[],1,caught,BA King,2,1,259,NaN
3,0,0,0,0,[],0,NaN,NaN,2,1,259,NaN
4,4,0,4,0,[],0,NaN,NaN,6,1,259,NaN

In [10]:
#df3['Chased Successfully'].value_counts()
df3.head(1)

,Balls Remaining,Winner,Chased Successfully,Total Batter Runs,Total Non Striker Runs,Batter Balls Faced,Non Striker Balls Faced,Player Out Runs,Player Out Balls Faced,Bowler Runs Conceded,Valid Ball
0,119,South Africa,1,1,0,1,0,NaN,NaN,1,1

Now I created two files Matches and Deliveries, as per need

In [11]:
matches = df[['Match ID','Venue','Winner','Bat First','Bat Second','Target Score']]

In [12]:
#matches.head()

In [13]:
deliveries = df[['Match ID','Venue','Innings','Bat First','Bat Second','Batter','Winner','Non Striker','Bowler','Ball','Batter Runs','Extra Runs','Runs From Ball','Ball Rebowled','Extra Type','Wicket','Method','Player Out','Innings Runs','Innings Wickets','Target Score','Runs to Get'
	,'Balls Remaining']]

In [14]:
deliveries.head(785)

,Match ID,Venue,Innings,Bat First,Bat Second,Batter,Winner,Non Striker,Bowler,Ball,...,Ball Rebowled,Extra Type,Wicket,Method,Player Out,Innings Runs,Innings Wickets,Target Score,Runs to Get,Balls Remaining
0,1339605,SuperSport Park,1,West Indies,South Africa,BA King,South Africa,KR Mayers,WD Parnell,1,...,0,[],0,NaN,NaN,1,0,259,NaN,119
1,1339605,SuperSport Park,1,West Indies,South Africa,KR Mayers,South Africa,BA King,WD Parnell,2,...,0,[],0,NaN,NaN,2,0,259,NaN,118
2,1339605,SuperSport Park,1,West Indies,South Africa,BA King,South Africa,KR Mayers,WD Parnell,3,...,0,[],1,caught,BA King,2,1,259,NaN,117
3,1339605,SuperSport Park,1,West Indies,South Africa,J Charles,South Africa,KR Mayers,WD Parnell,4,...,0,[],0,NaN,NaN,2,1,259,NaN,116
4,1339605,SuperSport Park,1,West Indies,South Africa,J Charles,South Africa,KR Mayers,WD Parnell,5,...,0,[],0,NaN,NaN,6,1,259,NaN,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
780,1320977,Meersen,1,Portugal,Spain,Imran Khan,Spain,Kuldeep,Mohammad Kamran,6,...,0,[],0,NaN,NaN,32,1,78,NaN,90
781,1320977,Meersen,1,Portugal,Spain,Imran Khan,Spain,Kuldeep,Yasir Ali,1,...,0,[],0,NaN,NaN,33,1,78,NaN,89
782,1320977,Meersen,1,Portugal,Spain,Kuldeep,Spain,Imran Khan,Yasir Ali,2,...,1,['wides'],0,NaN,NaN,34,1,78,NaN,89
783,1320977,Meersen,1,Portugal,Spain,Kuldeep,Spain,Imran Khan,Yasir Ali,2,...,0,[],1,caught,Kuldeep,34,2,78,NaN,88
784,1320977,Meersen,1,Portugal,Spain,Najjam Shahzad,Spain,Imran Khan,Yasir Ali,3,...,0,[],0,NaN,NaN,34,2,78,NaN,87

Data cleaning and PREPROCESSING

In [15]:
matches['Bat First'].unique()

array(['West Indies', 'Scotland', 'Estonia', 'Portugal', 'Kuwait',
       'Sri Lanka', 'Swaziland', 'Belize', 'England',
       'United Arab Emirates', 'Denmark', 'Bangladesh', 'Finland',
       'India', 'Papua New Guinea', 'Afghanistan', 'Japan', 'Croatia',
       'Netherlands', 'Ireland', 'New Zealand', 'Romania', 'Pakistan',
       'Gibraltar', 'Rwanda', 'Malaysia', 'Malta', 'Cyprus', 'Nepal',
       'Austria', 'Samoa', 'Nigeria', 'South Africa', 'Australia',
       'Belgium', 'Oman', 'Bahamas', 'Seychelles', 'Panama', 'Jersey',
       'Zimbabwe', 'Hong Kong', 'Kenya', 'China', 'Uganda', 'Botswana',
       'Ghana', 'Vanuatu', 'Cayman Islands', 'Bahrain', 'Malawi',
       'Isle of Man', 'Cameroon', 'Norway', 'Singapore', 'Maldives',
       'Hungary', 'Canada', 'St Helena', 'Tanzania', 'Serbia', 'Namibia',
       'Philippines', 'Germany', 'Bulgaria', 'Thailand', 'Lesotho',
       'Czech Republic', 'Luxembourg', 'Spain', 'Mali', 'Bhutan',
       'Slovenia', 'Indonesia', 'Argentina', 'Bermuda', 'Sweden', 'Fiji',
       'France', 'Turkey', 'Mozambique', 'Qatar', 'Italy', 'Gambia',
       'Cook Islands', 'Guernsey', 'Sierra Leone',
       'United States of America', 'Israel', 'Switzerland', 'Myanmar',
       'Saudi Arabia', 'South Korea', 'Iran', 'Eswatini', 'Greece'],
      dtype=object)

In [16]:
#Removing non playing Nation and selected which are playing presently and specially taking part in T_20 WC 2024
Teams = ['West Indies', 'Scotland',
       'Sri Lanka', 'England',
       'United Arab Emirates', 'Denmark', 'Bangladesh',
       'India', 'Papua New Guinea', 'Afghanistan', 
       'Netherlands', 'Ireland', 'New Zealand','Pakistan',
      'Nepal', 'South Africa', 'Australia',
       'Oman','Zimbabwe', 'Hong Kong', 'Kenya', 'Canada','Namibia',
       'United States of America', 
      ]

In [17]:
len(Teams)

24

Updating files as per selected teams

In [18]:
matches = matches[matches['Bat First'].isin(Teams)]
matches = matches[matches['Bat Second'].isin(Teams)]

In [19]:
deliveries = deliveries[deliveries['Bat Second'].isin(Teams)]
deliveries = deliveries[deliveries['Bat First'].isin(Teams)]

In [20]:
deliveries = deliveries[deliveries['Innings'] == 2]

In [21]:
deliveries.shape

(129669, 23)

In [22]:
deliveries = deliveries.rename(columns = {'Innings Runs': 'Current Score','Innings Wickets':'Wickets','Runs to Get':'Required Runs','Runs From Ball':'Run scored'})

In [23]:
deliveries.head()

,Match ID,Venue,Innings,Bat First,Bat Second,Batter,Winner,Non Striker,Bowler,Ball,...,Ball Rebowled,Extra Type,Wicket,Method,Player Out,Current Score,Wickets,Target Score,Required Runs,Balls Remaining
124,1339605,SuperSport Park,2,West Indies,South Africa,Q de Kock,South Africa,RR Hendricks,AJ Hosein,1,...,0,[],0,NaN,NaN,4,0,259,255.0,119
125,1339605,SuperSport Park,2,West Indies,South Africa,Q de Kock,South Africa,RR Hendricks,AJ Hosein,2,...,0,[],0,NaN,NaN,8,0,259,251.0,118
126,1339605,SuperSport Park,2,West Indies,South Africa,Q de Kock,South Africa,RR Hendricks,AJ Hosein,3,...,0,[],0,NaN,NaN,8,0,259,251.0,117
127,1339605,SuperSport Park,2,West Indies,South Africa,Q de Kock,South Africa,RR Hendricks,AJ Hosein,4,...,0,[],0,NaN,NaN,8,0,259,251.0,116
128,1339605,SuperSport Park,2,West Indies,South Africa,Q de Kock,South Africa,RR Hendricks,AJ Hosein,5,...,0,[],0,NaN,NaN,9,0,259,250.0,115

In [24]:
#Creating new column wicket left,and droping unnecessary columns
deliveries = deliveries.drop(columns = {"Method","Player Out"})
deliveries["Wickets Left"] = 10 - deliveries['Wickets']

In [25]:
deliveries.head()

,Match ID,Venue,Innings,Bat First,Bat Second,Batter,Winner,Non Striker,Bowler,Ball,...,Run scored,Ball Rebowled,Extra Type,Wicket,Current Score,Wickets,Target Score,Required Runs,Balls Remaining,Wickets Left
124,1339605,SuperSport Park,2,West Indies,South Africa,Q de Kock,South Africa,RR Hendricks,AJ Hosein,1,...,4,0,[],0,4,0,259,255.0,119,10
125,1339605,SuperSport Park,2,West Indies,South Africa,Q de Kock,South Africa,RR Hendricks,AJ Hosein,2,...,4,0,[],0,8,0,259,251.0,118,10
126,1339605,SuperSport Park,2,West Indies,South Africa,Q de Kock,South Africa,RR Hendricks,AJ Hosein,3,...,0,0,[],0,8,0,259,251.0,117,10
127,1339605,SuperSport Park,2,West Indies,South Africa,Q de Kock,South Africa,RR Hendricks,AJ Hosein,4,...,0,0,[],0,8,0,259,251.0,116,10
128,1339605,SuperSport Park,2,West Indies,South Africa,Q de Kock,South Africa,RR Hendricks,AJ Hosein,5,...,1,0,[],0,9,0,259,250.0,115,10

In [26]:
#Now droping wicket as we only require wickets left
deliveries = deliveries.drop(columns = {"Wicket"})

In [27]:
deliveries.head()

,Match ID,Venue,Innings,Bat First,Bat Second,Batter,Winner,Non Striker,Bowler,Ball,...,Extra Runs,Run scored,Ball Rebowled,Extra Type,Current Score,Wickets,Target Score,Required Runs,Balls Remaining,Wickets Left
124,1339605,SuperSport Park,2,West Indies,South Africa,Q de Kock,South Africa,RR Hendricks,AJ Hosein,1,...,0,4,0,[],4,0,259,255.0,119,10
125,1339605,SuperSport Park,2,West Indies,South Africa,Q de Kock,South Africa,RR Hendricks,AJ Hosein,2,...,0,4,0,[],8,0,259,251.0,118,10
126,1339605,SuperSport Park,2,West Indies,South Africa,Q de Kock,South Africa,RR Hendricks,AJ Hosein,3,...,0,0,0,[],8,0,259,251.0,117,10
127,1339605,SuperSport Park,2,West Indies,South Africa,Q de Kock,South Africa,RR Hendricks,AJ Hosein,4,...,0,0,0,[],8,0,259,251.0,116,10
128,1339605,SuperSport Park,2,West Indies,South Africa,Q de Kock,South Africa,RR Hendricks,AJ Hosein,5,...,0,1,0,[],9,0,259,250.0,115,10

Creating new column for Required run-rate and Current run-rate

In [28]:
deliveries['RR'] = (deliveries['Required Runs']/deliveries['Balls Remaining'])*6
deliveries['CR'] = (deliveries['Current Score']/(120 - deliveries['Balls Remaining'])*6)

In [29]:
deliveries.head(6)

,Match ID,Venue,Innings,Bat First,Bat Second,Batter,Winner,Non Striker,Bowler,Ball,...,Ball Rebowled,Extra Type,Current Score,Wickets,Target Score,Required Runs,Balls Remaining,Wickets Left,RR,CR
124,1339605,SuperSport Park,2,West Indies,South Africa,Q de Kock,South Africa,RR Hendricks,AJ Hosein,1,...,0,[],4,0,259,255.0,119,10,12.857143,24.0
125,1339605,SuperSport Park,2,West Indies,South Africa,Q de Kock,South Africa,RR Hendricks,AJ Hosein,2,...,0,[],8,0,259,251.0,118,10,12.762712,24.0
126,1339605,SuperSport Park,2,West Indies,South Africa,Q de Kock,South Africa,RR Hendricks,AJ Hosein,3,...,0,[],8,0,259,251.0,117,10,12.871795,16.0
127,1339605,SuperSport Park,2,West Indies,South Africa,Q de Kock,South Africa,RR Hendricks,AJ Hosein,4,...,0,[],8,0,259,251.0,116,10,12.982759,12.0
128,1339605,SuperSport Park,2,West Indies,South Africa,Q de Kock,South Africa,RR Hendricks,AJ Hosein,5,...,0,[],9,0,259,250.0,115,10,13.043478,10.8
129,1339605,SuperSport Park,2,West Indies,South Africa,RR Hendricks,South Africa,Q de Kock,AJ Hosein,6,...,0,[],13,0,259,246.0,114,10,12.947368,13.0

In [30]:
# for team in deliveries['Bat Second']:
#     if team == deliveries['Winner']:
#         deliveries['Result'] = 1
#     else :
#         deliveries['Result'] =0

In [32]:
#Creating another column Result which contain 0 and 1 to indicate match result
deliveries['Result'] = deliveries.apply(lambda row: 1 if row['Bat Second'] == row['Winner'] else 0, axis=1)

In [33]:
deliveries.head(1)

,Match ID,Venue,Innings,Bat First,Bat Second,Batter,Winner,Non Striker,Bowler,Ball,...,Extra Type,Current Score,Wickets,Target Score,Required Runs,Balls Remaining,Wickets Left,RR,CR,Result
124,1339605,SuperSport Park,2,West Indies,South Africa,Q de Kock,South Africa,RR Hendricks,AJ Hosein,1,...,[],4,0,259,255.0,119,10,12.857143,24.0,1

In [34]:
#droping NA values
deliveries.dropna(inplace=True)

In [35]:
#Removing rows which have 0 ball remaining in it as it create problem in run-rate
deliveries = deliveries[deliveries['Balls Remaining'] != 0]

In [36]:
deliveries.shape

(129303, 24)

In [37]:
#Renaming some columns for convinience
deliveries = deliveries.rename(columns = {'Bat First':'Bowling Side','Bat Second': 'Batting Side'})

In [38]:
#deliveries.head()

Finally selecting columns for training and testing

In [39]:
Final_doc = deliveries[['Bowling Side','Batting Side','Venue','Target Score','Required Runs','Balls Remaining','CR','RR','Wickets Left','Result']]

In [40]:
Final_doc.dropna(inplace=True)
Final_doc = Final_doc[Final_doc['Balls Remaining'] != 0]
Final_doc = Final_doc[Final_doc['Wickets Left'] != 0]
Final_doc.head()

C:\Users\HP\AppData\Local\Temp\ipykernel_5400\223508416.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Final_doc.dropna(inplace=True)

,Bowling Side,Batting Side,Venue,Target Score,Required Runs,Balls Remaining,CR,RR,Wickets Left,Result
124,West Indies,South Africa,SuperSport Park,259,255.0,119,24.0,12.857143,10,1
125,West Indies,South Africa,SuperSport Park,259,251.0,118,24.0,12.762712,10,1
126,West Indies,South Africa,SuperSport Park,259,251.0,117,16.0,12.871795,10,1
127,West Indies,South Africa,SuperSport Park,259,251.0,116,12.0,12.982759,10,1
128,West Indies,South Africa,SuperSport Park,259,250.0,115,10.8,13.043478,10,1

In [41]:
#Sving file
#Final_doc.to_csv('T_20i.csv')

In [42]:
deliveries.to_csv('Deliveries_1.csv')

In [43]:
Final_doc.replace([np.inf, -np.inf, np.finfo(np.float64).max], np.nan, inplace=True)
Final_doc.dropna(inplace=True)

In [44]:
X = Final_doc.drop(columns = "Result")
Y = Final_doc.Result

In [45]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test= train_test_split(X,Y,test_size = 0.2,random_state = 22)
#X.head(1)
#Y.head(1)
# X_train.head()
# y_train.head()

In [46]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse_output=False,drop='first'),['Batting Side','Bowling Side','Venue','Wickets Left'])
]
,remainder='passthrough')

In [47]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline

In [62]:
# clf = Pipeline(steps=[
#     ('step1',trf),
#     ('step2',LogisticRegression(solver='liblinear'))
# ])
from sklearn.tree import DecisionTreeClassifier

clf = Pipeline(steps=[
    ('step1', trf),
    ('step2', DecisionTreeClassifier(random_state=42))
])

# from sklearn.ensemble import RandomForestClassifier

# clf = Pipeline(steps=[
#     ('step1', trf),
#     ('step2', RandomForestClassifier(n_estimators=100, random_state=42))
# ])

from sklearn.svm import SVC

clf = Pipeline(steps=[
    ('step1', trf),
    ('step2', SVC(probability=True, random_state=42))
])

In [ ]:
clf.fit(X_train,y_train)

In [58]:
y_pred = clf.predict(X_test)

In [59]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.9931777657182728

In [60]:
from sklearn.metrics import classification_report

In [61]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99     13713
           1       0.99      0.99      0.99     12085

    accuracy                           0.99     25798
   macro avg       0.99      0.99      0.99     25798
weighted avg       0.99      0.99      0.99     25798

Now just checking predictions for some matches and it works

In [ ]:
def match_summary(row):
    print("Batting Team-" + row['Btting Side'] + " | Bowling Team-" + row['Bowling Side'] + " | Target- " + str(row['Target Score']))

In [ ]:
def match_progression(x_df,match_id,pipe):
    match = x_df[x_df['Match ID'] == match_id]
    match = match[(match['Ball'] == 6)]
    temp_df = match[['Batting Side','Bowling Side','Venue','Required Runs','Balls Remaining','Wickets Left','Target Score','CR','RR']].dropna()
    temp_df = temp_df[temp_df['Balls Remaining'] != 0]
    result = pipe.predict_proba(temp_df)
    temp_df['lose'] = np.round(result.T[0]*100,1)
    temp_df['win'] = np.round(result.T[1]*100,1)
    temp_df['end_of_over'] = range(1,temp_df.shape[0]+1)
    
    target = temp_df['Target Score'].values[0]
    runs = list(temp_df['Required Runs'].values)
    new_runs = runs[:]
    runs.insert(0,target)
    temp_df['runs_after_over'] = np.array(runs)[:-1] - np.array(new_runs)
    wickets = list(temp_df['Wickets Left'].values)
    new_wickets = wickets[:]
    new_wickets.insert(0,10)
    wickets.append(0)
    w = np.array(wickets)
    nw = np.array(new_wickets)
    temp_df['wickets_in_over'] = (nw - w)[0:temp_df.shape[0]]
    
    print("Target-",target)
    temp_df = temp_df[['end_of_over','runs_after_over','wickets_in_over','lose','win']]
    return temp_df,target

In [ ]:
temp_df,target = match_progression(deliveries,1298176,clf)
temp_df

In [ ]:
deliveries['Venue'].unique()

In [ ]:
import pickle
pickle.dump(clf,open('clf.pkl','wb'))

In [ ]:
deliveries['Batting Side'].unique()

I trained my model on linear regression, it can be done on some other models as well 
like:-
1.Logistic Regression
2.Decision Trees
3.Random Forests
4.Gradient Boosting Machines (GBM)
etc.

THANKS FOR VISITING